* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
/* DEFAULT CSS */
img{
    max-width: 100%;
}
.btn {
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    background: #FF8063;
    padding: 20px 30px;
    border-radius: 10px;
    color: #ffffff;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.half-width{
    width: 50%;
    float: left; 
}
.one-third{
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 16px gray;
}

.highlight{
    color: #FF8063;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Bebas Neue', cursive;
}
p{
    font-family: 'Roboto', sans-serif;
}
.left{
    float: left;
    width: 30%;
}
/* NAVBAR */
ul{
    margin: 0;
    padding: 0;
    text-align: right;
    margin: 0 auto;
}
ul li{
    list-style-type: none;
    display: inline-block;
    text-align: right;
}
ul li a{
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: black;
}
/* INTRODUCTION SECTION */

.introduction-content h1{
    font-size: 70px;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-weight: 400;
}
.introduction-content p{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 60px;
}
.introduction-img img{
    margin: 0 auto;
}

/* ABOUT SECTION */
.about-section{
    clear: both;
    overflow: hidden;
}
.about-content {
    margin-top: 120px;

}
.about-content h1{
    font-size: 48px;
    font-weight: 600;
    margin: 0;
}
.about-content p{
    font-size: 16px;
    margin-bottom: 40px;
}

/* PROJECT SECTION */
.project{
    clear: both;
    background: #E5E5E5;
    overflow: hidden;
    padding:  100px 0px;
    margin: 0 auto;
}
.project .post-title{
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}
.project .one-third {
    background: #ffffff;
}

.project .one-third h2{
    font-size: 24px;
}
.project .project-content{
    margin-left: 20px;
}

/* BLOG SECTION */


.blog .one-third {
    box-shadow: 5px 5px 16px gray;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 80px;
}
.blog .blog-title h3{
    text-align: center;
    font-size: 28px;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.blog .blog-title p {
    font-size: 18px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}
.blog .service-icon{
    color: #FF8063;
    font-size: 30px;
    height: 200px;
}
.service-content h3{
    font-size: 24px;
    text-transform: uppercase;
    color: #FF8063;
    margin-top: 0;
}
.service-content p {
    color: #585757;
}

/* work section */
.container-half {
    width: 50%;
    margin: 0 auto
}
.work {
    margin: 100px 0;
}
.work-img {
    clear: both;
    overflow: hidden;
    padding: 30px 0px;
    background-image: url(images/Group_33094_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
.work-content {
    text-align: center;
    color: #fff;
    font-size: 28px;
}
.work-btn {
    text-align: center;
    margin-top: 55px;
}

/* FOOTER */
footer {
    text-align: center;
    padding-bottom: 25px;
}
footer h3{
    font-size: 26px;
    margin: 0px;
}
footer img {
    width: 30px;
    margin: 5px;
}